<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required permission for reading external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyBridal_Partner"
        tools:targetApi="31">
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:label="@string/title_activity_payment"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_profile_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".AdvertisementActivity"
            android:exported="false"
            android:label="@string/title_activity_advertisement_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".WithdrawSuccessMenu"
            android:exported="false"
            android:label="@string/title_activity_widthdraw_success_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".WidthrawAmountMenu"
            android:exported="false"
            android:label="@string/title_activity_widthdraw_amount_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".ChatMenu"
            android:exported="false"
            android:label="@string/title_activity_chat_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".OrderAdapter"
            android:exported="false"
            android:label="@string/title_activity_order_adapter"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".LanguageActivity"
            android:exported="false"
            android:label="@string/title_activity_change_language_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".ForgotPassMenu"
            android:exported="false"
            android:label="@string/title_activity_forgot_pass_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".SignUpMenu"
            android:exported="false"
            android:label="@string/title_activity_sign_up_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".LoginMenu"
            android:exported="false"
            android:label="@string/title_activity_login_menu"
            android:theme="@style/Theme.EasyBridal_Partner" />
        <activity
            android:name=".LoadingApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>